# Exclude the build folder
/build/

# Exclude the virtual environment folder (myenv)
myenv/

# Exclude the .idea folder (used by IDEs like PyCharm)
.idea/

# Exclude any folder that starts with .ipynb
**/.ipynb_checkpoints/

# Exclude any __pycache__ folder anywhere
**/__pycache__/